body {
	background-color: #ffffff;
	cursor: default;
}

p {
	font-family: existence;
}

@font-face{
    font-family: existence;
    src: url(Existence.ttf);
}

#comments{
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-family: existence;
    z-index: 3;
    font-size: 15px;
}

#pastsins{
    position: absolute;
    bottom: 0px;
    left: 220px;
    font-family: existence;
    z-index: 3;
    font-size: 20px;
    color: #ff0000
}


/*---text---*/

#text {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	transition: all 2s;
    z-index: 2;
}

#zero {
	transition: all 2s;
	position: absolute;
	left: 35%;
	right: 35%;
	top: 25%;
    z-index: 3;
}

#one {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
    z-index: 2;
    opacity: 0;
}

#two {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#three {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
}

#four {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#five {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#six {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#seven {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
}

#eighth {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
}

#nine {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#ten {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#eleven {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#twelf {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
}

#thirteen {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#fourteen {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#fiveteen {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#sixteen {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}

#seventeen {
	transition: all 2s;
	position: absolute;
	left: 25%;
	right: 25%;
	top: 30%;
	opacity: 0;
    z-index: 2;
    color: white;
}


/*---next's---*/

#next-full {
	width: 50px;
	top: 65%;
	left: 50%;
	position: absolute;
	cursor: pointer;
    z-index: 4;
}

.next {
	width: 60px;
	height: 60px;
	position: absolute;
	transform: rotate(-90deg) scale(.5);
	transition: .5s all;
}

#next-zero {
	opacity: .7;
	left: -50%;
	top: 60%;
	position: absolute;
}

#next-one {
	opacity: 0;
	left: 50%;
	top: 60%;
	position: absolute;
}

#next-two {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-three {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-four {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-five {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-six {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-seven {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-eighth {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-nine {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-ten {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-eleven {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-twelf {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-thirteen {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-fourteen {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-fiveteen {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-sixteen {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

#next-seventeen {
	opacity: 0;
	top: 60%;
	left: 50%;
	position: absolute;
}

.next:hover {
	transform: scale(1) rotate(-90deg);
	opacity: 1;
}


/*---animations---*/

@keyframes next-fade-in {
	0% {
		top: 30%;
		opacity: 0;
	}
	50% {
		top: 30%;
		opacity: 0;
	}
	100% {
		top: 25%;
		opacity: 1;
	}
}

@keyframes next-fade-out {
	from {
		top: 25%;
		opacity: 1;
	}
	to {
		top: 20%;
		opacity: 0;
	}
}

@keyframes next-in {
	0% {
		opacity: 0;
		left: 100%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
	50% {
		opacity: 0;
		left: 50%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
	50.01% {
		opacity: .7;
		left: -50%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
	100% {
		opacity: .7;
		left: -50%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
}

@keyframes next-out {
	0% {
		opacity: .7;
		left: -50%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
	50% {
		opacity: .7;
		left: -50%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
	50.01% {
		opacity: 0;
		left: -100%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
	100% {
		opacity: 0;
		left: -100%;
		transform: rotate(-90deg) scale(.5);
		top: 60%;
	}
}

@keyframes day {
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

@keyframes night {
    from{
        opacity: 1;
    }
    
    to{
        opacity: 0;
    }
}


/*---animation-classes---*/

.fadeout {
	animation: next-fade-out 2s forwards;
}

.fadein {
	animation: next-fade-in 4s forwards;
}

.nextin {
	animation: next-in 4s forwards linear;
}

.nextout {
	animation: next-out 4s forwards linear;
}

.day {
    animation: day 5s forwards;
}

.night {
    animation: night 5s forwards;
}

.in{
    animation: day 2s 2s forwards;
}

.out{
    animation: night 2s forwards;
}


/*---day---*/

#day{
    width: 100%;
height: 100%;
background: -webkit-radial-gradient(top right ellipse, #006cff 40%, #00d0d0 100%);
    background: radial-gradient(ellipse at top right, #006cff 40%, #00d0d0 100%);
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
}

/*---sun&moon---*/

#maremoon{
    background-image: url(https://68.media.tumblr.com/438f7773b747824999124df41b588386/tumblr_oi8v8gL8jS1vjookoo7_250.png);
    width: 200px;
    height: 200px;
    position: fixed;
    right: 50px;
    top: 0px;
    z-index: 1;
    transform: scale(.7);
}

#moon{
    background-image: url(https://68.media.tumblr.com/b75798bb6a28b9420102dee2b077b4ae/tumblr_oi8v8gL8jS1vjookoo6_250.png);
    width: 200px;
    height: 200px;
    position: fixed;
    right: 50px;
    top: 00px;
    z-index: 1;
    transform: scale(.7);
}

#sun{
    background-image: url(https://68.media.tumblr.com/820c79e592ad5cb56ee65fe1431b969a/tumblr_oi8zi6cLaU1vjookoo3_400.png);
    width: 400px;
    height: 400px;
    position: fixed;
    right: -52px;
    top: -98px;
    z-index: 1;
    transform: scale(.7);
    opacity: 0;
}

/*---forground---*/

#forground{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
}

#grass{
    position: absolute;
    left: -10px;
    bottom: -10px;
    z-index: 1;
}

#tree{
    position: absolute;
    left: -100px;
    bottom: 30px;
    z-index: 2;
    opacity: 0;
}

#c-y{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 100px;
    opacity: 0;
}

#celestia{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 100px;
    opacity: 0;
}

#luna{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 150px;
    opacity: 0;
}

#nightmm{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 150px;
    opacity: 0;
}

#twilight{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 200px;
    opacity: 0;
}

#nyxB{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 230px;
    opacity: 1;
}

#nyx{
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 230px;
    opacity: 0;
}

#c-h{
    position: absolute;
    bottom: 85px;
    z-index: 2;
    left: 100px;
    opacity: 0;
}

#c-t{
    position: absolute;
    bottom: 15px;
    z-index: 2;
    left: 100px;
    opacity: 0;
}

#nmm-h{
    position: absolute;
    bottom: 85px;
    z-index: 2;
    left: 150px;
    opacity: 0;
}

#nmm-t{
    position: absolute;
    bottom: 15px;
    z-index: 2;
    left: 150px;
    opacity: 0;
}


/*---night-sky---*/

.stars-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-radial-gradient(top right ellipse, #061a33 0%, #000000 100%);
  background: radial-gradient(ellipse at top right, #061a33 0%, #000000 100%);
  background-size: 110%;
  background-position: 100% 100%;
  overflow: hidden;
}

.stars-cluster {
  position: absolute;
  left: 3%;
  right: 3%;
  top: 3%;
  bottom: 3%;
}
.stars-cluster.stars-cluster-1 {
  left: 20%;
  right: 25%;
  top: 20%;
  bottom: 40%;
}
.stars-cluster.stars-cluster-1 .star-7,
.stars-cluster.stars-cluster-1 .star-22,
.stars-cluster.stars-cluster-1 .star-30 {
  -webkit-animation: shooting-star 10s ease-out 1s forwards;
          animation: shooting-star 10s ease-out 1s forwards;
}
.stars-cluster.stars-cluster-1 .star-22 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.stars-cluster.stars-cluster-1 .star-30 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.stars-cluster.stars-cluster-1 .star-20 {
  -webkit-animation: shooting-star-2 8s ease-out 5s forwards infinite;
          animation: shooting-star-2 8s ease-out 5s forwards infinite;
}
.stars-cluster.stars-cluster-2 .star-11,
.stars-cluster.stars-cluster-2 .star-16 {
  -webkit-animation: shooting-star 10s ease-out 8s forwards;
          animation: shooting-star 10s ease-out 8s forwards;
}
.stars-cluster.stars-cluster-2 .star-16 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.stars-cluster.stars-cluster-2 .star-7 {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.stars-cluster.stars-cluster-2 .star-4 {
  -webkit-animation: shooting-star-2 11s ease-out 6s forwards infinite;
          animation: shooting-star-2 11s ease-out 6s forwards infinite;
}
.star {
  background-color: #f3f2d6;
  border-radius: 50%;
  position: absolute;
  -webkit-animation-name: pulsate;
          animation-name: pulsate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
}

/**
 * ----------------------------------------
 * star generator
 * ---------------------------------------
*/
.stars-cluster-1 .star-1 {
  width: 2px;
  height: 2px;
  opacity: 0.36772478;
  top: 98.57320853%;
  left: 6.99853092%;
  -webkit-animation-duration: 1.90382297s;
          animation-duration: 1.90382297s;
  -webkit-animation-delay: 0.87253443s;
          animation-delay: 0.87253443s;
}
.stars-cluster-1 .star-2 {
  width: 1px;
  height: 1px;
  opacity: 0.35994619;
  top: 35.12946819%;
  left: 69.7944975%;
  -webkit-animation-duration: 2.12309746s;
          animation-duration: 2.12309746s;
  -webkit-animation-delay: 0.32726807s;
          animation-delay: 0.32726807s;
}
.stars-cluster-1 .star-3 {
  width: 1px;
  height: 1px;
  opacity: 0.60982579;
  top: 88.67902115%;
  left: 49.77859019%;
  -webkit-animation-duration: 0.44442529s;
          animation-duration: 0.44442529s;
  -webkit-animation-delay: 0.82750878s;
          animation-delay: 0.82750878s;
}
.stars-cluster-1 .star-4 {
  width: 1px;
  height: 1px;
  opacity: 0.29801618;
  top: 98.57481634%;
  left: 45.58852066%;
  -webkit-animation-duration: 0.78086225s;
          animation-duration: 0.78086225s;
  -webkit-animation-delay: 0.80322268s;
          animation-delay: 0.80322268s;
}
.stars-cluster-1 .star-5 {
  width: 3px;
  height: 3px;
  opacity: 0.74233871;
  top: 3.75937317%;
  left: 22.84215116%;
  -webkit-animation-duration: 1.84947581s;
          animation-duration: 1.84947581s;
  -webkit-animation-delay: 0.30258624s;
          animation-delay: 0.30258624s;
}
.stars-cluster-1 .star-6 {
  width: 3px;
  height: 3px;
  opacity: 0.68515497;
  top: 83.89791823%;
  left: 69.88350595%;
  -webkit-animation-duration: 1.62340598s;
          animation-duration: 1.62340598s;
  -webkit-animation-delay: 0.41869187s;
          animation-delay: 0.41869187s;
}
.stars-cluster-1 .star-7 {
  width: 2px;
  height: 2px;
  opacity: 0.30817914;
  top: 99.99335422%;
  left: 99.99843996%;
  -webkit-animation-duration: 1.64526113s;
          animation-duration: 1.64526113s;
  -webkit-animation-delay: 0.489058s;
          animation-delay: 0.489058s;
}
.stars-cluster-1 .star-8 {
  width: 3px;
  height: 3px;
  opacity: 0.76044279;
  top: 87.89467067%;
  left: 97.34566102%;
  -webkit-animation-duration: 0.8043854s;
          animation-duration: 0.8043854s;
  -webkit-animation-delay: 0.92073824s;
          animation-delay: 0.92073824s;
}
.stars-cluster-1 .star-9 {
  width: 1px;
  height: 1px;
  opacity: 0.71837184;
  top: 1.25369257%;
  left: 4.00007174%;
  -webkit-animation-duration: 1.30463073s;
          animation-duration: 1.30463073s;
  -webkit-animation-delay: 0.03043699s;
          animation-delay: 0.03043699s;
}
.stars-cluster-1 .star-10 {
  width: 2px;
  height: 2px;
  opacity: 0.49516311;
  top: 90.60975087%;
  left: 43.54916194%;
  -webkit-animation-duration: 1.99786871s;
          animation-duration: 1.99786871s;
  -webkit-animation-delay: 0.96100093s;
          animation-delay: 0.96100093s;
}
.stars-cluster-1 .star-11 {
  width: 2px;
  height: 2px;
  opacity: 0.2510038;
  top: 75.54509181%;
  left: 93.65136449%;
  -webkit-animation-duration: 0.57915186s;
          animation-duration: 0.57915186s;
  -webkit-animation-delay: 0.81772689s;
          animation-delay: 0.81772689s;
}
.stars-cluster-1 .star-12 {
  width: 2px;
  height: 2px;
  opacity: 0.61280174;
  top: 29.76072687%;
  left: 70.40455523%;
  -webkit-animation-duration: 2.3157871s;
          animation-duration: 2.3157871s;
  -webkit-animation-delay: 0.68336114s;
          animation-delay: 0.68336114s;
}
.stars-cluster-1 .star-13 {
  width: 2px;
  height: 2px;
  opacity: 0.7655818;
  top: 22.58214965%;
  left: 87.99955314%;
  -webkit-animation-duration: 1.59324512s;
          animation-duration: 1.59324512s;
  -webkit-animation-delay: 0.9912439s;
          animation-delay: 0.9912439s;
}
.stars-cluster-1 .star-14 {
  width: 2px;
  height: 2px;
  opacity: 0.53240092;
  top: 89.5752422%;
  left: 57.37612629%;
  -webkit-animation-duration: 0.47739544s;
          animation-duration: 0.47739544s;
  -webkit-animation-delay: 0.4207847s;
          animation-delay: 0.4207847s;
}
.stars-cluster-1 .star-15 {
  width: 2px;
  height: 2px;
  opacity: 0.54928892;
  top: 8.92521536%;
  left: 72.42507462%;
  -webkit-animation-duration: 1.68875423s;
          animation-duration: 1.68875423s;
  -webkit-animation-delay: 0.45738085s;
          animation-delay: 0.45738085s;
}
.stars-cluster-1 .star-16 {
  width: 1px;
  height: 1px;
  opacity: 0.58827857;
  top: 72.96617918%;
  left: 34.00329635%;
  -webkit-animation-duration: 1.25549839s;
          animation-duration: 1.25549839s;
  -webkit-animation-delay: 0.13797763s;
          animation-delay: 0.13797763s;
}
.stars-cluster-1 .star-17 {
  width: 1px;
  height: 1px;
  opacity: 0.4351889;
  top: 63.15396777%;
  left: 29.21254931%;
  -webkit-animation-duration: 1.76874966s;
          animation-duration: 1.76874966s;
  -webkit-animation-delay: 0.20388442s;
          animation-delay: 0.20388442s;
}
.stars-cluster-1 .star-18 {
  width: 2px;
  height: 2px;
  opacity: 0.66558416;
  top: 85.02254004%;
  left: 76.46926108%;
  -webkit-animation-duration: 1.65833485s;
          animation-duration: 1.65833485s;
  -webkit-animation-delay: 0.55093641s;
          animation-delay: 0.55093641s;
}
.stars-cluster-1 .star-19 {
  width: 2px;
  height: 2px;
  opacity: 0.23142094;
  top: 84.64400009%;
  left: 76.31120195%;
  -webkit-animation-duration: 1.61258886s;
          animation-duration: 1.61258886s;
  -webkit-animation-delay: 0.01184031s;
          animation-delay: 0.01184031s;
}
.stars-cluster-1 .star-20 {
  width: 2px;
  height: 2px;
  opacity: 0.49620998;
  top: 22.45153247%;
  left: 40.33055652%;
  -webkit-animation-duration: 2.09650434s;
          animation-duration: 2.09650434s;
  -webkit-animation-delay: 0.34393543s;
          animation-delay: 0.34393543s;
}
.stars-cluster-1 .star-21 {
  width: 1px;
  height: 1px;
  opacity: 0.40249389;
  top: 59.89727736%;
  left: 19.70679786%;
  -webkit-animation-duration: 2.19657851s;
          animation-duration: 2.19657851s;
  -webkit-animation-delay: 0.68926845s;
          animation-delay: 0.68926845s;
}
.stars-cluster-1 .star-22 {
  width: 1px;
  height: 1px;
  opacity: 0.22000138;
  top: 4.33334881%;
  left: 82.34822743%;
  -webkit-animation-duration: 0.52199511s;
          animation-duration: 0.52199511s;
  -webkit-animation-delay: 0.20059522s;
          animation-delay: 0.20059522s;
}
.stars-cluster-1 .star-23 {
  width: 2px;
  height: 2px;
  opacity: 0.6454943;
  top: 1.5249501%;
  left: 84.59304345%;
  -webkit-animation-duration: 2.24846337s;
          animation-duration: 2.24846337s;
  -webkit-animation-delay: 0.35865785s;
          animation-delay: 0.35865785s;
}
.stars-cluster-1 .star-24 {
  width: 2px;
  height: 2px;
  opacity: 0.25945508;
  top: 21.65039014%;
  left: 5.01699047%;
  -webkit-animation-duration: 1.09060431s;
          animation-duration: 1.09060431s;
  -webkit-animation-delay: 0.50220122s;
          animation-delay: 0.50220122s;
}
.stars-cluster-1 .star-25 {
  width: 2px;
  height: 2px;
  opacity: 0.57798644;
  top: 1.04159804%;
  left: 98.50077555%;
  -webkit-animation-duration: 2.31989524s;
          animation-duration: 2.31989524s;
  -webkit-animation-delay: 0.12409266s;
          animation-delay: 0.12409266s;
}
.stars-cluster-1 .star-26 {
  width: 2px;
  height: 2px;
  opacity: 0.43829379;
  top: 15.62724663%;
  left: 26.69733784%;
  -webkit-animation-duration: 0.73084128s;
          animation-duration: 0.73084128s;
  -webkit-animation-delay: 0.31588924s;
          animation-delay: 0.31588924s;
}
.stars-cluster-1 .star-27 {
  width: 2px;
  height: 2px;
  opacity: 0.48692773;
  top: 57.88687419%;
  left: 9.50572731%;
  -webkit-animation-duration: 2.21927267s;
          animation-duration: 2.21927267s;
  -webkit-animation-delay: 0.1754908s;
          animation-delay: 0.1754908s;
}
.stars-cluster-1 .star-28 {
  width: 3px;
  height: 3px;
  opacity: 0.37140415;
  top: 20.63467833%;
  left: 19.638208%;
  -webkit-animation-duration: 0.74405482s;
          animation-duration: 0.74405482s;
  -webkit-animation-delay: 0.6087375s;
          animation-delay: 0.6087375s;
}
.stars-cluster-1 .star-29 {
  width: 3px;
  height: 3px;
  opacity: 0.26720496;
  top: 2.40494914%;
  left: 45.76308501%;
  -webkit-animation-duration: 1.76809584s;
          animation-duration: 1.76809584s;
  -webkit-animation-delay: 0.0221359s;
          animation-delay: 0.0221359s;
}
.stars-cluster-1 .star-30 {
  width: 2px;
  height: 2px;
  opacity: 0.44422952;
  top: 24.9391133%;
  left: 79.23463371%;
  -webkit-animation-duration: 2.19912601s;
          animation-duration: 2.19912601s;
  -webkit-animation-delay: 0.62500258s;
          animation-delay: 0.62500258s;
}
.stars-cluster-1 .star-31 {
  width: 2px;
  height: 2px;
  opacity: 0.23863324;
  top: 75.4382611%;
  left: 41.30772131%;
  -webkit-animation-duration: 0.58933233s;
          animation-duration: 0.58933233s;
  -webkit-animation-delay: 0.79893665s;
          animation-delay: 0.79893665s;
}
.stars-cluster-1 .star-32 {
  width: 2px;
  height: 2px;
  opacity: 0.38639365;
  top: 92.4630275%;
  left: 80.74255288%;
  -webkit-animation-duration: 0.97401596s;
          animation-duration: 0.97401596s;
  -webkit-animation-delay: 0.39708693s;
          animation-delay: 0.39708693s;
}
.stars-cluster-1 .star-33 {
  width: 1px;
  height: 1px;
  opacity: 0.48992029;
  top: 68.65773648%;
  left: 96.54349547%;
  -webkit-animation-duration: 1.65317716s;
          animation-duration: 1.65317716s;
  -webkit-animation-delay: 0.97365816s;
          animation-delay: 0.97365816s;
}
.stars-cluster-1 .star-34 {
  width: 1px;
  height: 1px;
  opacity: 0.45400712;
  top: 53.49940562%;
  left: 39.14135068%;
  -webkit-animation-duration: 0.41971688s;
          animation-duration: 0.41971688s;
  -webkit-animation-delay: 0.25350904s;
          animation-delay: 0.25350904s;
}
.stars-cluster-1 .star-35 {
  width: 2px;
  height: 2px;
  opacity: 0.36044469;
  top: 47.31163988%;
  left: 61.86997055%;
  -webkit-animation-duration: 1.90829165s;
          animation-duration: 1.90829165s;
  -webkit-animation-delay: 0.45499081s;
          animation-delay: 0.45499081s;
}
.stars-cluster-1 .star-36 {
  width: 1px;
  height: 1px;
  opacity: 0.36765973;
  top: 33.59334574%;
  left: 13.50289781%;
  -webkit-animation-duration: 0.79374672s;
          animation-duration: 0.79374672s;
  -webkit-animation-delay: 0.44714684s;
          animation-delay: 0.44714684s;
}
.stars-cluster-1 .star-37 {
  width: 2px;
  height: 2px;
  opacity: 0.21603012;
  top: 12.22476563%;
  left: 24.71155161%;
  -webkit-animation-duration: 0.73628472s;
          animation-duration: 0.73628472s;
  -webkit-animation-delay: 0.28957339s;
          animation-delay: 0.28957339s;
}
.stars-cluster-1 .star-38 {
  width: 3px;
  height: 3px;
  opacity: 0.35639128;
  top: 46.25092358%;
  left: 20.6877257%;
  -webkit-animation-duration: 0.96670924s;
          animation-duration: 0.96670924s;
  -webkit-animation-delay: 0.93927209s;
          animation-delay: 0.93927209s;
}
.stars-cluster-1 .star-39 {
  width: 3px;
  height: 3px;
  opacity: 0.45937875;
  top: 14.44067883%;
  left: 77.00566391%;
  -webkit-animation-duration: 1.09023787s;
          animation-duration: 1.09023787s;
  -webkit-animation-delay: 0.77528735s;
          animation-delay: 0.77528735s;
}
.stars-cluster-1 .star-40 {
  width: 1px;
  height: 1px;
  opacity: 0.42788233;
  top: 50.56908759%;
  left: 34.04268138%;
  -webkit-animation-duration: 1.0234965s;
          animation-duration: 1.0234965s;
  -webkit-animation-delay: 0.93743688s;
          animation-delay: 0.93743688s;
}
.stars-cluster-2 .star-1 {
  width: 3px;
  height: 3px;
  opacity: 0.4331451;
  top: 67.1527683%;
  left: 1.87887861%;
  -webkit-animation-duration: 1.00831933s;
          animation-duration: 1.00831933s;
  -webkit-animation-delay: 0.57519291s;
          animation-delay: 0.57519291s;
}
.stars-cluster-2 .star-2 {
  width: 2px;
  height: 2px;
  opacity: 0.37166538;
  top: 22.79686257%;
  left: 49.90394637%;
  -webkit-animation-duration: 0.50119319s;
          animation-duration: 0.50119319s;
  -webkit-animation-delay: 0.57963218s;
          animation-delay: 0.57963218s;
}
.stars-cluster-2 .star-3 {
  width: 3px;
  height: 3px;
  opacity: 0.30982516;
  top: 74.83766156%;
  left: 56.07169829%;
  -webkit-animation-duration: 1.00051103s;
          animation-duration: 1.00051103s;
  -webkit-animation-delay: 0.83539991s;
          animation-delay: 0.83539991s;
}
.stars-cluster-2 .star-4 {
  width: 3px;
  height: 3px;
  opacity: 0.71798977;
  top: 64.38261452%;
  left: 24.93691978%;
  -webkit-animation-duration: 0.4437393s;
          animation-duration: 0.4437393s;
  -webkit-animation-delay: 0.06650534s;
          animation-delay: 0.06650534s;
}
.stars-cluster-2 .star-5 {
  width: 2px;
  height: 2px;
  opacity: 0.5611551;
  top: 47.1878736%;
  left: 84.84389803%;
  -webkit-animation-duration: 0.93323438s;
          animation-duration: 0.93323438s;
  -webkit-animation-delay: 0.1090087s;
          animation-delay: 0.1090087s;
}
.stars-cluster-2 .star-6 {
  width: 3px;
  height: 3px;
  opacity: 0.30549302;
  top: 44.18607429%;
  left: 93.45850952%;
  -webkit-animation-duration: 0.97722361s;
          animation-duration: 0.97722361s;
  -webkit-animation-delay: 0.70907538s;
          animation-delay: 0.70907538s;
}
.stars-cluster-2 .star-7 {
  width: 4px;
  height: 4px;
  opacity: 0.68994262;
  top: 71.55174436%;
  left: 22.05211639%;
  -webkit-animation-duration: 1.55371059s;
          animation-duration: 1.55371059s;
  -webkit-animation-delay: 0.45168123s;
          animation-delay: 0.45168123s;
}
.stars-cluster-2 .star-8 {
  width: 4px;
  height: 4px;
  opacity: 0.60370478;
  top: 84.90734315%;
  left: 33.61662168%;
  -webkit-animation-duration: 1.3524779s;
          animation-duration: 1.3524779s;
  -webkit-animation-delay: 0.3088325s;
          animation-delay: 0.3088325s;
}
.stars-cluster-2 .star-9 {
  width: 2px;
  height: 2px;
  opacity: 0.70676382;
  top: 53.87792119%;
  left: 68.13285095%;
  -webkit-animation-duration: 0.67054186s;
          animation-duration: 0.67054186s;
  -webkit-animation-delay: 0.98755817s;
          animation-delay: 0.98755817s;
}
.stars-cluster-2 .star-10 {
  width: 3px;
  height: 3px;
  opacity: 0.59402132;
  top: 12.60423418%;
  left: 84.99179392%;
  -webkit-animation-duration: 0.83219923s;
          animation-duration: 0.83219923s;
  -webkit-animation-delay: 0.38272117s;
          animation-delay: 0.38272117s;
}
.stars-cluster-2 .star-11 {
  width: 3px;
  height: 3px;
  opacity: 0.65369108;
  top: 48.23538887%;
  left: 23.43172252%;
  -webkit-animation-duration: 1.95539391s;
          animation-duration: 1.95539391s;
  -webkit-animation-delay: 0.7821183s;
          animation-delay: 0.7821183s;
}
.stars-cluster-2 .star-12 {
  width: 4px;
  height: 4px;
  opacity: 0.44263943;
  top: 56.66871918%;
  left: 94.56332927%;
  -webkit-animation-duration: 1.75957554s;
          animation-duration: 1.75957554s;
  -webkit-animation-delay: 0.22693514s;
          animation-delay: 0.22693514s;
}
.stars-cluster-2 .star-13 {
  width: 3px;
  height: 3px;
  opacity: 0.24343976;
  top: 22.49462837%;
  left: 88.37746182%;
  -webkit-animation-duration: 0.86524122s;
          animation-duration: 0.86524122s;
  -webkit-animation-delay: 0.35842549s;
          animation-delay: 0.35842549s;
}
.stars-cluster-2 .star-14 {
  width: 2px;
  height: 2px;
  opacity: 0.22142551;
  top: 38.34707541%;
  left: 25.48661116%;
  -webkit-animation-duration: 1.24882876s;
          animation-duration: 1.24882876s;
  -webkit-animation-delay: 0.19123654s;
          animation-delay: 0.19123654s;
}
.stars-cluster-2 .star-15 {
  width: 3px;
  height: 3px;
  opacity: 0.58304111;
  top: 98.57684681%;
  left: 14.59243447%;
  -webkit-animation-duration: 1.17711353s;
          animation-duration: 1.17711353s;
  -webkit-animation-delay: 0.41275351s;
          animation-delay: 0.41275351s;
}
.stars-cluster-2 .star-16 {
  width: 3px;
  height: 3px;
  opacity: 0.66686493;
  top: 49.14799419%;
  left: 18.61953069%;
  -webkit-animation-duration: 0.6732355s;
          animation-duration: 0.6732355s;
  -webkit-animation-delay: 0.38603857s;
          animation-delay: 0.38603857s;
}
.stars-cluster-2 .star-17 {
  width: 2px;
  height: 2px;
  opacity: 0.25684678;
  top: 12.64580849%;
  left: 50.02908949%;
  -webkit-animation-duration: 2.22939945s;
          animation-duration: 2.22939945s;
  -webkit-animation-delay: 0.06710538s;
          animation-delay: 0.06710538s;
}
.stars-cluster-2 .star-18 {
  width: 3px;
  height: 3px;
  opacity: 0.45801964;
  top: 66.66885954%;
  left: 8.54952468%;
  -webkit-animation-duration: 2.15661783s;
          animation-duration: 2.15661783s;
  -webkit-animation-delay: 0.95658083s;
          animation-delay: 0.95658083s;
}
.stars-cluster-2 .star-19 {
  width: 4px;
  height: 4px;
  opacity: 0.27080271;
  top: 89.30885326%;
  left: 56.42061532%;
  -webkit-animation-duration: 1.24906834s;
          animation-duration: 1.24906834s;
  -webkit-animation-delay: 0.43837323s;
          animation-delay: 0.43837323s;
}
.stars-cluster-2 .star-20 {
  width: 3px;
  height: 3px;
  opacity: 0.62849587;
  top: 35.27532208%;
  left: 82.30667436%;
  -webkit-animation-duration: 2.05625354s;
          animation-duration: 2.05625354s;
  -webkit-animation-delay: 0.59849927s;
          animation-delay: 0.59849927s;
}
.stars-cluster-2 .star-21 {
  width: 3px;
  height: 3px;
  opacity: 0.38347148;
  top: 30.85860529%;
  left: 65.35819685%;
  -webkit-animation-duration: 1.76279043s;
          animation-duration: 1.76279043s;
  -webkit-animation-delay: 0.58548358s;
          animation-delay: 0.58548358s;
}
.stars-cluster-2 .star-22 {
  width: 2px;
  height: 2px;
  opacity: 0.50964861;
  top: 11.57280006%;
  left: 25.60845946%;
  -webkit-animation-duration: 1.15365679s;
          animation-duration: 1.15365679s;
  -webkit-animation-delay: 0.02794359s;
          animation-delay: 0.02794359s;
}
.stars-cluster-2 .star-23 {
  width: 4px;
  height: 4px;
  opacity: 0.26903115;
  top: 74.75763885%;
  left: 87.94077439%;
  -webkit-animation-duration: 0.41475998s;
          animation-duration: 0.41475998s;
  -webkit-animation-delay: 0.42920661s;
          animation-delay: 0.42920661s;
}
.stars-cluster-2 .star-24 {
  width: 3px;
  height: 3px;
  opacity: 0.75040722;
  top: 57.27382114%;
  left: 50.29016149%;
  -webkit-animation-duration: 2.39372567s;
          animation-duration: 2.39372567s;
  -webkit-animation-delay: 0.83722995s;
          animation-delay: 0.83722995s;
}
.stars-cluster-2 .star-25 {
  width: 3px;
  height: 3px;
  opacity: 0.6998958;
  top: 75.55436091%;
  left: 60.89121099%;
  -webkit-animation-duration: 1.49827917s;
          animation-duration: 1.49827917s;
  -webkit-animation-delay: 0.84320604s;
          animation-delay: 0.84320604s;
}
.stars-cluster-2 .star-26 {
  width: 3px;
  height: 3px;
  opacity: 0.76498081;
  top: 70.19996727%;
  left: 5.38880192%;
  -webkit-animation-duration: 1.14846896s;
          animation-duration: 1.14846896s;
  -webkit-animation-delay: 0.98972721s;
          animation-delay: 0.98972721s;
}
.stars-cluster-2 .star-27 {
  width: 3px;
  height: 3px;
  opacity: 0.42787772;
  top: 3.7292555%;
  left: 13.31936235%;
  -webkit-animation-duration: 2.31535412s;
          animation-duration: 2.31535412s;
  -webkit-animation-delay: 0.92362034s;
          animation-delay: 0.92362034s;
}
.stars-cluster-2 .star-28 {
  width: 4px;
  height: 4px;
  opacity: 0.43980727;
  top: 99.7663639%;
  left: 14.37937596%;
  -webkit-animation-duration: 1.57951714s;
          animation-duration: 1.57951714s;
  -webkit-animation-delay: 0.80317836s;
          animation-delay: 0.80317836s;
}
.stars-cluster-2 .star-29 {
  width: 4px;
  height: 4px;
  opacity: 0.77087768;
  top: 33.23222809%;
  left: 3.20644446%;
  -webkit-animation-duration: 0.53024216s;
          animation-duration: 0.53024216s;
  -webkit-animation-delay: 0.54122103s;
          animation-delay: 0.54122103s;
}
.stars-cluster-2 .star-30 {
  width: 4px;
  height: 4px;
  opacity: 0.42928073;
  top: 19.76195727%;
  left: 17.8371859%;
  -webkit-animation-duration: 1.27246003s;
          animation-duration: 1.27246003s;
  -webkit-animation-delay: 0.74634869s;
          animation-delay: 0.74634869s;
}
.stars-cluster-2 .star-31 {
  width: 3px;
  height: 3px;
  opacity: 0.28643954;
  top: 86.15453194%;
  left: 68.4887646%;
  -webkit-animation-duration: 0.78239609s;
          animation-duration: 0.78239609s;
  -webkit-animation-delay: 0.50531306s;
          animation-delay: 0.50531306s;
}
.stars-cluster-2 .star-32 {
  width: 4px;
  height: 4px;
  opacity: 0.73804467;
  top: 67.91840422%;
  left: 36.3252162%;
  -webkit-animation-duration: 2.38535099s;
          animation-duration: 2.38535099s;
  -webkit-animation-delay: 0.74907815s;
          animation-delay: 0.74907815s;
}
.stars-cluster-2 .star-33 {
  width: 3px;
  height: 3px;
  opacity: 0.53466916;
  top: 75.83807202%;
  left: 2.07226246%;
  -webkit-animation-duration: 0.85383135s;
          animation-duration: 0.85383135s;
  -webkit-animation-delay: 0.97707917s;
          animation-delay: 0.97707917s;
}
.stars-cluster-2 .star-34 {
  width: 2px;
  height: 2px;
  opacity: 0.44061223;
  top: 65.85623929%;
  left: 2.19767403%;
  -webkit-animation-duration: 1.5494514s;
          animation-duration: 1.5494514s;
  -webkit-animation-delay: 0.43063987s;
          animation-delay: 0.43063987s;
}
.stars-cluster-2 .star-35 {
  width: 4px;
  height: 4px;
  opacity: 0.52109616;
  top: 35.98574803%;
  left: 77.47792637%;
  -webkit-animation-duration: 1.80235741s;
          animation-duration: 1.80235741s;
  -webkit-animation-delay: 0.53265639s;
          animation-delay: 0.53265639s;
}
.stars-cluster-2 .star-36 {
  width: 4px;
  height: 4px;
  opacity: 0.3635299;
  top: 75.12504715%;
  left: 24.25331548%;
  -webkit-animation-duration: 2.25924257s;
          animation-duration: 2.25924257s;
  -webkit-animation-delay: 0.6849502s;
          animation-delay: 0.6849502s;
}
.stars-cluster-2 .star-37 {
  width: 3px;
  height: 3px;
  opacity: 0.57970227;
  top: 43.57763969%;
  left: 9.00905093%;
  -webkit-animation-duration: 2.29799871s;
          animation-duration: 2.29799871s;
  -webkit-animation-delay: 0.16697904s;
          animation-delay: 0.16697904s;
}
.stars-cluster-2 .star-38 {
  width: 2px;
  height: 2px;
  opacity: 0.79182481;
  top: 22.97163575%;
  left: 48.01897674%;
  -webkit-animation-duration: 2.08608308s;
          animation-duration: 2.08608308s;
  -webkit-animation-delay: 0.12296723s;
          animation-delay: 0.12296723s;
}
.stars-cluster-2 .star-39 {
  width: 3px;
  height: 3px;
  opacity: 0.73053974;
  top: 80.93000443%;
  left: 40.75178073%;
  -webkit-animation-duration: 0.61209012s;
          animation-duration: 0.61209012s;
  -webkit-animation-delay: 0.73031094s;
          animation-delay: 0.73031094s;
}
.stars-cluster-2 .star-40 {
  width: 2px;
  height: 2px;
  opacity: 0.51209682;
  top: 40.80393012%;
  left: 15.69188349%;
  -webkit-animation-duration: 0.77953888s;
          animation-duration: 0.77953888s;
  -webkit-animation-delay: 0.93954256s;
          animation-delay: 0.93954256s;
}
.stars-cluster-3 .star-1 {
  width: 3px;
  height: 3px;
  opacity: 0.64866275;
  top: 53.3433574%;
  left: 90.24789238%;
  -webkit-animation-duration: 0.90100876s;
          animation-duration: 0.90100876s;
  -webkit-animation-delay: 0.96490873s;
          animation-delay: 0.96490873s;
}
.stars-cluster-3 .star-2 {
  width: 4px;
  height: 4px;
  opacity: 0.52425485;
  top: 61.71506175%;
  left: 84.49828313%;
  -webkit-animation-duration: 1.59167721s;
          animation-duration: 1.59167721s;
  -webkit-animation-delay: 0.24941708s;
          animation-delay: 0.24941708s;
}
.stars-cluster-3 .star-3 {
  width: 3px;
  height: 3px;
  opacity: 0.63307429;
  top: 83.36205983%;
  left: 38.92584948%;
  -webkit-animation-duration: 1.58784298s;
          animation-duration: 1.58784298s;
  -webkit-animation-delay: 0.85109497s;
          animation-delay: 0.85109497s;
}
.stars-cluster-3 .star-4 {
  width: 3px;
  height: 3px;
  opacity: 0.45505196;
  top: 38.06905041%;
  left: 5.98628828%;
  -webkit-animation-duration: 2.03372908s;
          animation-duration: 2.03372908s;
  -webkit-animation-delay: 0.77723832s;
          animation-delay: 0.77723832s;
}
.stars-cluster-3 .star-5 {
  width: 2px;
  height: 2px;
  opacity: 0.45135101;
  top: 53.2673747%;
  left: 17.25259679%;
  -webkit-animation-duration: 2.34676333s;
          animation-duration: 2.34676333s;
  -webkit-animation-delay: 0.05345321s;
          animation-delay: 0.05345321s;
}
.stars-cluster-3 .star-6 {
  width: 3px;
  height: 3px;
  opacity: 0.67173081;
  top: 4.32963001%;
  left: 33.63036595%;
  -webkit-animation-duration: 2.20072414s;
          animation-duration: 2.20072414s;
  -webkit-animation-delay: 0.4846262s;
          animation-delay: 0.4846262s;
}
.stars-cluster-3 .star-7 {
  width: 2px;
  height: 2px;
  opacity: 0.47923748;
  top: 34.7494401%;
  left: 25.65402708%;
  -webkit-animation-duration: 0.84881676s;
          animation-duration: 0.84881676s;
  -webkit-animation-delay: 0.0369047s;
          animation-delay: 0.0369047s;
}
.stars-cluster-3 .star-8 {
  width: 5px;
  height: 5px;
  opacity: 0.49222443;
  top: 23.78809636%;
  left: 65.11457951%;
  -webkit-animation-duration: 1.47557395s;
          animation-duration: 1.47557395s;
  -webkit-animation-delay: 0.99177977s;
          animation-delay: 0.99177977s;
}
.stars-cluster-3 .star-9 {
  width: 3px;
  height: 3px;
  opacity: 0.32556633;
  top: 30.10833939%;
  left: 72.41763286%;
  -webkit-animation-duration: 1.2974316s;
          animation-duration: 1.2974316s;
  -webkit-animation-delay: 0.55817349s;
          animation-delay: 0.55817349s;
}
.stars-cluster-3 .star-10 {
  width: 3px;
  height: 3px;
  opacity: 0.66525939;
  top: 32.56558515%;
  left: 85.81027263%;
  -webkit-animation-duration: 0.95794085s;
          animation-duration: 0.95794085s;
  -webkit-animation-delay: 0.23782282s;
          animation-delay: 0.23782282s;
}
.stars-cluster-3 .star-11 {
  width: 4px;
  height: 4px;
  opacity: 0.78709658;
  top: 5.39867433%;
  left: 56.66342229%;
  -webkit-animation-duration: 0.84121001s;
          animation-duration: 0.84121001s;
  -webkit-animation-delay: 0.41738309s;
          animation-delay: 0.41738309s;
}
.stars-cluster-3 .star-12 {
  width: 4px;
  height: 4px;
  opacity: 0.3474412;
  top: 87.90716343%;
  left: 1.21343215%;
  -webkit-animation-duration: 1.52307247s;
          animation-duration: 1.52307247s;
  -webkit-animation-delay: 0.36060894s;
          animation-delay: 0.36060894s;
}
.stars-cluster-3 .star-13 {
  width: 4px;
  height: 4px;
  opacity: 0.55527239;
  top: 95.59594262%;
  left: 10.21270046%;
  -webkit-animation-duration: 1.73570444s;
          animation-duration: 1.73570444s;
  -webkit-animation-delay: 0.53320392s;
          animation-delay: 0.53320392s;
}
.stars-cluster-3 .star-14 {
  width: 4px;
  height: 4px;
  opacity: 0.22556314;
  top: 47.56796462%;
  left: 74.69799351%;
  -webkit-animation-duration: 1.49641444s;
          animation-duration: 1.49641444s;
  -webkit-animation-delay: 0.89754579s;
          animation-delay: 0.89754579s;
}
.stars-cluster-3 .star-15 {
  width: 4px;
  height: 4px;
  opacity: 0.2872031;
  top: 90.82147921%;
  left: 9.5336867%;
  -webkit-animation-duration: 2.39234191s;
          animation-duration: 2.39234191s;
  -webkit-animation-delay: 0.59473287s;
          animation-delay: 0.59473287s;
}
